body {
  margin: 0;
  min-width: 250px;
}

/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

/* Style the header */
.header {
  background-color: darkslategray;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

/*Clear floats after the header*/
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}
.todoList {
  display: grid;
  grid-template-columns: 0.5fr 18fr 1fr;
  list-style-type: none;
  background: white;
  font-size: 18px;
}
.fa-window-close {
  justify-content: center;
  align-self: center;
  cursor: progress;
  zoom:150%;
}

.fa-window-close:hover {
  color:red;
}
.check {
  justify-content: center;
  align-self: center;
  margin-right: 0;
  cursor: pointer;
  width:20px;
  height: 20px;
}
#tasks{
  margin:0px;
  padding-left:1%;
  list-style-type: none;
  background: white;
  font-size: 18px;
  transition: 0.2s;
}

/* Style the "Add" button */
.addBtn {
  width:5em;
  display: inline-block;
  padding: 10px 10px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color: rgb(189, 247, 194);
  border: none;
  border-radius: 110px;
  box-shadow: 0.5 5px #999;
  transition: 0.2s;
  float: left;
}

.addBtn:hover {background-color: #3e8e41}

.addBtn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}